
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <H3 class="text-primary"> Get in Touch</H3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <form>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                        <textarea class="form-control" rows="5" placeholder="Message" id="comment"></textarea>
                <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg mb-5">
            </form>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-primary">Consultancy Bridge Ltd</h3>

                    <h5> Registered Office</h5>
                    <address>
                        708, South  Beech Street<br />

                        Syracuse, New York<br />
                        USA 13210<br />
                        Tel: +1 315-664-8629

                    </address>

                    <h5> Corporate Office </h5>
                    <address>
                        25 B, Sector-53<br />
                        Noida<br />
                        India-201301<br />
                        Tel: +91 8588853475
                    </address>

                    <a href="mailto:support@consultancybridge.com">support@consultancybridge.com</a>
                </div>
            </div>
        </div>
    </div>
</div>



