@{
    ViewBag.Title = "ConsultancyBridge";
}
<div id="myCarousel" class="carousel slide css-carousel-color" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="imgbanner" src="~/Content/Images/15.jpeg" alt="Los Angeles" style="width:100%;opacity:0.2;">
            <div class="carousel-caption">
                <h2 class="brand-bold">Kick start your career with your <br class="hide-desktop"> dream company.</h2>
                <h5> 1. 100% Placement assistance <br /></h5>
                <h5> 2. Great Learning Experience and hands on experience <br /></h5>
                <h5> 3. Gobally Recognized Certifications <br /></h5>
                <h5> 4. Students placed on Higher Packages <br /></h5>
            </div>
        </div>
    </div>
</div>
<div class="how page-content">
    <div class="how-content">
        <div class="how-content-block">
            <h3 class="how-header brand-bold">How Consultancy Bridge Works</h3>
            <ul class="how-content-list">
                <li class="how-content-list-item how-post">
                    <div class="how-icon how-icon--post"><i class="fa fa-search fa-2x"></i></div>
                    <p class="css-bold">
                        Provide Effective classroom training with Hands On Experience <br class="hide-medium"> to the candidate.
                    </p>
                </li>
                <li class="how-content-list-item how-bid">
                    <div class="how-icon how-icon--bid"><i class="fa fa-users fa-2x" aria-hidden="true"></i></div>
                    <p class="css-bold">
                        Buid the candidate professional Resume and Cover Letter, <br class="hide-medium"> as a candidate profile.
                    </p>
                </li>
                <li class="how-content-list-item how-engage">
                    <div class="how-icon how-icon--engage"><i class="fa fa-usd fa-2x" aria-hidden="true"></i></div>
                    <p class="css-bold">
                        Get Placed on Higher Packages <br class="hide-medium">
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>